<div class="modal-header">
	<h3 class="modal-title">Delete {{modalCtrl.username}} <span ng-show="modalCtrl.permanent">Permanently</span></h3>
</div>
<div class="modal-body col-md-12">
	<div class="alert alert-danger">
		<strong ng-show="modalCtrl.permanent">This cannot be undone.</strong> Are you sure you want to proceed?<br>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
	<button class="btn btn-danger" type="button" ng-click="modalCtrl.ok()">Delete</button>
</div>