<div class="modal-header">
	<h3 class="modal-title">Edit {{modalCtrl.username}}</h3>
</div>
<div class="modal-body col-md-12">
	<form class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-md-2 control-label">Username</label>
		<div class="col-md-10">
			<input type="text" class="form-control" ng-model="modalCtrl.username">
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-md-2 control-label">Password</label>
		<div class="col-md-10">
			<input type="text" class="form-control" ng-model="modalCtrl.password">
		</div>
	</div>
	<div class="form-group">
		<label for="url" class="col-md-2 control-label">Comments</label>
		<div class="col-md-10">
			<textarea class="form-control" ng-model="modalCtrl.comments">
			</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-2" style="text-align:center;padding-top:11px;">
			<input type="checkbox" ng-true-value="'management'" ng-false-value="''" ng-model="modalCtrl.type">
		</div>
		<div class="col-md-10">
			<label for="management" class="control-label" style="text-align:left">For Management Only</label>
		</div>
	</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">Save</button>
</div>