<div class="modal-header">
	<h3 class="modal-title">Delete {{ deleteModalCtrl.name }}</h3>
</div>
<div class="modal-body">
	<div class="alert alert-danger">
		<strong>This cannot be undone.</strong> Are you sure you want to proceed?<br>
		If so, please enter the name of the role you are deleting.<br>
		<br>
		<input type="text" class="form-control" ng-model="deleteModalCtrl.nameInput">
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="deleteModalCtrl.cancel()">Cancel</button>
	<button class="btn btn-danger" type="button" ng-click="deleteModalCtrl.ok()">Delete</button>
</div>