<div class="modal-header">
	<h3 class="modal-title">Edit {{modalCtrl.name}}</h3>
</div>
<div class="modal-body col-md-12">
	<form class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-md-2 control-label">Name</label>
		<div class="col-md-10">
			<input type="text" class="form-control" ng-model="modalCtrl.name">
		</div>
	</div>
	<div class="form-group">
		<label for="url" class="col-md-2 control-label">Url</label>
		<div class="col-md-10">
			<input type="text" class="form-control" ng-model="modalCtrl.url">
		</div>
	</div>
	<!--<div class="form-group">
		<label for="client" class="col-md-2 control-label">Client</label>
		<div class="col-md-10">
			<select ng-model="modalCtrl.client_id" class="form-control">
				<option ng-repeat="client in modalCtrl.clients" value="{{ client.id }}">{{ client.name }}</option>
			</select>
		</div>
	</div>-->
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">Save</button>
</div>